@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #d49d17;
  --beige: #f8f1e7;
  --dark: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--beige);
  color: var(--dark);
}